@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background:linear-gradient(244deg, #543a9c 24.62%, #615281 52.56%, #a79bb6 81.19%);
    background-size: 100% 100%;
    background-attachment: fixed;
}

.cabecalho{
    display: flex;
    width: 50%;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    padding: 35px;
    
}
.sidebar {
    width: 0;
    height: -100%;
    background-color: #615281;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    z-index: 1;
    margin-left: -35px;
}
.show-sidebar{
    width: 250px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
    font-family: 'Righteous', sans-serif;
    color: #FFFFFF
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #a79bb6;
}

#menu-button {
    cursor: pointer;
    background: none;
    border: none;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    padding: 35px;
    gap: 20px;
    font-family: 'Righteous', cursive;
    color: #FFFFFF
    
    
}

#menu-button:hover {
    background-color: #664d7a;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.tudo {
    display: flex;
    gap: 32px;
}

.texto1{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 4em;
    color:#FFF2E7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.portfolio {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.project {
    width: 30%;
    background-color: #fcfaff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    transition: transform 0.2s;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    max-width: 100%;
    height: auto;
}

.project h3 {
    font-size: 20px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #474747;
}

.project p {
    font-size: 14px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    color: #474747;
}

.blacksuit{
    width: 100%;
}